MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_DB=dbname
MYSQL_USER=user
MYSQL_PASSWORD=password

DJANGO_SECRET_KEY=01tHOatUVZDm508jsRlEdtwbNuDFnsPFkrBcz2PUGhDWz5H7xO
DJANGO_STATIC_URL=/django-static/
DJANGO_STATIC_ROOT=/django-static/
DJANGO_SETTINGS_MODULE=core.settings.production
DJANGO_ALLOWED_HOSTS=example.com