{% extends 'todo/todo_base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'todo/style-todo.css' %}">
{% endblock %}

{% block content %}
    {% for obj in list %}
        <a class="link-todo" href="{% url 'todo:detail-view' obj.pk %}">
            <div class="todo">
                    <div class="todo-profile">
                        <img class="todo-profile-pic" src="{{ obj.created_by.profile.profile_pic.url }}" alt="">
                        <div class="todo-title-wrapper">
                            <h1><span>Created by: </span> {{ obj.created_by.profile.name}}</h1>
                            <p><span>Created on: </span> {{ obj.created_on|date:"F d, Y" }}</p>
                        </div>
                    </div>
                    <div class="todo-description">
                        <h2 class="todo-title">{{ obj.title }}</h2>
                        <p class="todo-description">{{ obj.description }}</p>
                    </div>
                    <div class="todo-information">
                        <p>Is it done:
                        {% if obj.completed %}
                            <img src="{% static 'todo-status/Done.png' %}" alt="">
                        {% else %}
                            <img src="{% static 'todo-status/Not Done.png' %}" alt="">
                        {% endif %} </p>
                    </div>
            </div>
         </a>
    {% endfor %}
    {# https://github.com/CoreyMSchafer/code_snippets/blob/master/Django_Blog/12-Password-Reset/django_project/blog/templates/blog/home.html#L16 #}
    <div>
        {% if is_paginated %}
            {% if page_obj.has_previous %}
                <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}